* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #004db3 !important;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 10%;
    position: sticky;
    background-color: #004db3;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 20000;
}
/* .nav-bar{
    padding-right: 70px !important;
    padding-left: 70px !important;
} */
.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
    margin-top: 2%;
}

.logo{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: white;
}
.nav-links{
    display: flex;
    gap: 20px;
}
.nav-links a{
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
     color: #4fa9e4;
}
.nav-links>.home {
    color: white;
}
.btn1{
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0;
    color: #044db3;

}
.grow-section {
    /* background-color: #044db3; */
    /* position: relative; */
}
.grow-text h2{
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.grow-text p{
    color: white;
    font-size: 15px;
}
.round-image {
    position: relative;
    margin-top: 10%;
    padding-bottom: 4rem;
}
.round-image1 {
    position: absolute;
    left: 0%;
    top: 0%;
}
.round-image2 {
    position: absolute;
    left: 9%;
    top: 0%;
}
.round-image3 {
    position: absolute;
    left: 18%;
    top: 0%;
}
.round-image4 {
    position: absolute;
    left: 27%;
    top: 0%;
}
.round-image5 {
    position: absolute;
    left: 36%;
    top: 0%;
}
.round-image-text {
    position: absolute;
    left: 50%;
    top: 0%;
    font-size: 30px;
    font-weight: bold;
}
.girl-image{
    position: relative;
}


.img2 {
    position: absolute;
    right: 6%;
    top: 35%;
}

.bulb {
    position: absolute;
    right: 55%;
    top: -20%;
}

.vso {
    position: absolute;
    right: 1%;
    top: 10%;
}
.roundgreen-img1 {
    position: absolute;
    left: -70%;
    top: -12%;
}

.roundgreen-img2 {
    position: absolute;
    right: 80%;
    top: 25%;
}

.triangle-img {
    position: absolute;
    right: 3%;
    top: 40%;
}
.figma {
    position: absolute;
    right: 70%;
    top: 50%;
}

.arrow-img {
    position: absolute;
    right: 80%;
    top: 50%;
}

.w-img {
    position: absolute;
    right: 2%;
    top: 78%;
}

.yellow-circle2 {
    position: absolute;
    right: 90%;
    top: 90%;
}

.yellow-circle1 {
    position: absolute;
    right: 100%;
    top: -15%;
}



.get {
    margin-left: 10%;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: transparent;
}

.enroll {
    margin-left: 2%;
    color: #435cbd;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: #ffffff;
}
.animation-section{
    background-color: #CCDBF0 !important;
    overflow: hidden;
}
.animation-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
     animation: scroll 10s linear infinite;
}
.animation-span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* @keyframes animation-div {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
} */


.section-high {
    /* height: 100vh; */
    background-color: #F8F9FC !important;
    display: flex;
    justify-content: center;
    padding: 10px 10%;
    gap: 20px;
}
.container-high {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-top: 60px;
    text-align: center;
}
.high-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    position: relative;
    text-align: start;
}
.high-div h3{
    font-size: 60px;
    color: black;
    font-weight: bold;
}
.high-img{
    position: absolute;
    top: -8%;
    left: -5%;
}
.high-button{
    text-decoration: none;
    padding: 15px 25px;
    background-color: #044db3;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}
.right-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    gap: 20px;
    padding: 20px;
}
.right-img1{
    position: relative;
    top: -12%;
    right: -10%;
    z-index: 10;
}
.right-img2{
    position: absolute;
    bottom: 26%;
    right: 42%;
    z-index: 10;
}
.right-enroll{
    position: absolute;
    bottom: 63%;
    right: 67%;
    z-index: 10;
}
.drops{
    position: absolute;
    bottom: 22%;
    right: -10%;
    
}
.half{
    position: absolute;
    bottom: 12%;
    right: -40%;
   
}
.container-best{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 50%;
    gap: 20px;
    padding: 50px 10%;
    background-color: #f8f9fc;
}
.best-div{
    display: flex;
    flex-direction: column;
    /* flex-basis: 50%; */
}
.best-div h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.best-div p{
    font-size: 15px;
    color: black;
}
.right{
    display: flex;
    gap: 20px;
}
.text-div{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-div:hover{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.text{
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.p-text{
    font-size: 13px;
    color: #bbafa7;
}
.section-browse{
    background-color: #f8f9fc;
    padding: 20px 10%;
}
.browse{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.browse>h1{
    font-family: sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}
.browse>p{
    font-size: 15px;
    text-align: center;
    color: #a9b1be;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 80px;
}
.four-btn{
    background-color: #f1f1f1;
    color: #0059b9;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 20px;
    border: 1px solid #f1f1f1;
}
.four-btn:hover{
    background-color: #c2c2c2;
    color: #0059b9;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    gap: 20px;
    padding: 20px;
}
.design-div{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.design-div:hover{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.parent-btn{
    text-decoration: none;
    color: #044db3;
    font-size: 15px;
    text-align: center;
    background-color: #d2dff5;
    border: 1px solid #044db3;
    border-radius: 20px;
    padding: 5px 20px;
}
.price-tag{
    color: #2071c5;
    font-weight: bold;
    font-size: 20px;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.explore-btn{
    text-decoration: none;
    padding: 20px 25px;
    background-color: #044db3;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
.section-what{
    background-color: #f8f9fc;
    padding: 20px 10%;
}

.what-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.what-div>h1{
    font-size: 65px;
    font-weight: bold;
    font-family: sans-serif;
}
.what-div>p{
    font-size: 17px;
    color: #a1a7b9;
}

.section-join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 10%;
}
.join-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    gap: 5px;
}
.join-div>h3{
    font-size: 17px;
    font-weight: 600;
}
.join-div>h2{
    font-size: 60px;
    font-weight: bold;
}
.join-div>p{
    font-size: 20px;
}

.join{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.join-btn{
    text-decoration: none;
    padding: 15px 30px;
    color: #044db3;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
img{
    max-width: 100%;
    height: auto;
}
.section-frequent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: #f8f9fc;
    padding: 60px 10%;
}
.frequent-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.frequent-div>h1{
    font-size: 55px;
    font-weight: bold;
    font-family: sans-serif;
}
.frequent-div>p{
    font-size: 15px;
    color: #a9b1be;
}
.button-div{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: flex-start; */
    padding-top: 50px;
    gap: 20px;
}
.accordion{
    text-align: left;
    font-weight: bold;
    width: 100%;
    line-height: 32.4px;
    background-color: transparent;
    color: black;
    font-size: 20px;
    border: 1px solid rgb(234, 234, 234);
    outline: none;
    padding: 20px;
    transition: 0.4s;
}
.accordion:hover{
    background-color: #c2c2c2;
    color: #044db3;
}
footer{
    background-color: #000f24;
    padding: 50px 10%;
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social>h1{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.socials-logo{
    display: flex;
    gap: 20px;
}
.icon{
    color: #2a2a2b;
    font-size: 25px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-links>h1{
    font-size: 30px;
    font-weight: bold;
}
.links-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.footer-cum-sub{
    display: flex;
    gap: 20px;
}
.footer-community{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-community>h1{
    font-size: 30px;
    font-weight: bold;
}
.links-div2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links2{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.footer-sub{
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}
.footer-sub>h1{
    font-size: 30px;
    font-weight: bold;
}
.input{
   display: flex;
   border: 1px solid #0a3e82;
}
.email {
  padding: 15px 15px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  background-color: #2a2a2b;
  color: #fff;
  flex: 1;
}

.btn-send {
  padding: 15px 15px;
  border: none;
  background-color: #0a3e82;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}



@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
    .grow-text h2{
    font-size: 40px;
    }
    .section-high{
        flex-direction: column;
    }
    .high-div{
        text-align: center;
        align-items: center;
    }
    .high-div h3{
    font-size: 30px;
    }
    .container-best{
        flex-direction: column;
    }
    .best-div{
        align-items: center;
        text-align: center;
    }
    .best-div h1{
    font-size: 30px;
    }
    .right{
        flex-direction: column;
        align-items: center;
    }
    .right-img1{
    position: relative;
    top: -12%;
    right: -10%;
    z-index: 10;
    width: 80%;
}
    .right-img2{
    position: absolute;
    width: 60%;
    bottom: -22%;
    right: 47%;
    z-index: 10;
    }
    .right-enroll{
    position: absolute;
    bottom: 43%;
    right: 57%;
    z-index: 10;
    width: 50%;
    }
    .drops{
    position: absolute;
    bottom: -15%;
    right: 10%;  
    width: 40%;
    }
    .half{
    position: absolute;
    bottom: 30%;
    right: -10%;
    width: 15%;
    }
    .browse{
    display: flex;
    flex-direction: column;
    }
    .browse>h1{
    font-size: 30px;
    }
    .what-div>h1{
    font-size: 30px;
    }
    .frequent-div>h1{
    font-size: 30px;
    }
    .join-div>h2{
    font-size: 30px;
    font-weight: bold;
    }
    .btn-div{
        flex-direction: column;
        gap: 10px;
    }
    .parent{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-cum-sub{
    display: flex;
    flex-direction: column;
    }
}
